header{
  background-image: url(fundo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  position: relative;
  top: -15px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}


nav ul {
  list-style: none;
  text-align: right;
  transform: translate(50px);
}

nav li {
  display: inline-block;
  margin-right: 50px;
}

nav ul li a {
  color: #ffff;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 5px;
  background: #680eb3;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

p {
  font-size: 28px;
  color: antiquewhite;
  text-decoration: none;
  text-align: left;
  transform: translate(-720px);
}



/* Estilo menu dropdown */

h1.text {
  transition: 0.5s;
  cursor: pointer;
  transform: translate(-40px);
  color: #ffff;
  font-size: 18px;
  font-family: arial black;
}

h1.text::after {
  content: '';
  width: 0;
  height: 5px;
  background: #680eb3;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

h1.text:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(41, 41, 48);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #ffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Arial;
  font-weight: bold
}

.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}