body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    flex-shrink: 10;
 
}

.slide-card {
    flex: 0 0 200px;
    position: relative;
    overflow: hidden;
    transition: transform 30s;
    cursor: pointer;
    animation: slide 30s linear infinite;
}

.slide-card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-size: cover;
    margin: 0;
}

@keyframes slide {
    0% {
        -webkit-transform: translate(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }
}

.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), #1e0433);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    font-size: 10px;
    transition: height 0.5s;
    align-items: center; 
    justify-content: center;

}

.overlay a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    background: transparent;
    width: 100%;
    border-radius: 20px;
}

.slide-card:hover img {
    transform: scale(1.1);
}

.slide-card:hover .overlay {
    height: 100%;

}
